*{
    padding:  0;
    margin:0;    
    box-sizing: border-box;
}

body
{
    background-image: url('img/pengu.jpg');
    background-size : cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar
{
  background: rgb(134, 134, 255);   
  text-align: center; 
}

.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: #fff;
  font-size: x-small;
  
}

.menu-bar ul li
{
    width: 100px;
    margin: 15px;
    padding: 15 px;
}

.menu-bar ul li a

{
    text-decoration: none;
    color: #fff;

}

.menu-bar ul li :hover
{
    background: #a3a9ff;
    border-radius: 3px;
}

.menu-bar .fa
{
    margin-inline: 8px;
}

.menu-bar .dropbtn .dropdown-content:hover{
    background-color: cyan;
     
}
.sub-menu-1 dropdown-content
{
    display: none;
}

 
