*{
    padding:  0;
    margin:0;    
    box-sizing: border-box;
}
body
{
    background-image: url('main-demo/img/pengu.jpg');
    background-size : cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar
{
  background: rgb(134, 134, 255);   
  text-align: center; 
  overflow: hidden;
}

/* .menu-bar {
    overflow: hidden;
    background-color: #333;
  } */
  
  .menu-bar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .menu-bar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(45, 221, 241);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


































